:root {
    --primary-color: 230, 57, 57;
    --secondary-color: rgb(255, 100, 100);
    --text-color: white;
    --shadow: rgb(34, 34, 34);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    background-image: url('images/restaurant.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text-color);
    min-width: 500px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:visited, a:active {
    color: inherit;
}

.top-bar {
    background-color: rgba(var(--primary-color), 0.98);
    min-width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 var(--shadow);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navigation-links {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;
}

li.hamburger {
    display: none;
}

li.hamburger > span {
    font-size: 2.4rem;
}

@media screen and (max-width: 605px) {
    .navigation-links li:not(:first-child) {display: none;}
    .navigation-links li.hamburger {
      display: flex;
      align-items: center;
    }
    .navigation-links.responsive {
        flex-direction: column;
        align-items: stretch;
    }
    .navigation-links.responsive .logo {
        display: flex;
    }
    .navigation-links.responsive li.hamburger {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .navigation-links.responsive li {
        display: block;
    }
}  

@media screen and (min-width: 700px) {
    iframe.google-map {
        width: 600px;
        height: 600px;
    }
}  

.navigation-links > li:hover {
    cursor: pointer;
}

.navigation-links > li:not(:first-child):hover {
    color: rgb(255, 176, 176);
}

.active {
    background-color: rgb(255, 240, 240);
    padding: 10px;
    color: rgb(var(--primary-color));
}

li.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > div {
    font-size: 2rem;
    font-weight: 900;
}

li.logo > span {
    font-size: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 80px;
    width: 95%;
    max-width: 1000px;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 var(--shadow);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    gap: 30px;
}

.group > h2 {
    margin-bottom: 5px;
}

.visit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    padding: 0 20px;
}

h1 {
    font-size: 4rem;
    color: var(--secondary-color);
}

.information {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 600px;
}

.information > div {
    display: flex;
    gap: 15px;
    min-width: 200px;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials > .icons {
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.big {
    font-size: 1.5rem;
    font-weight: 800;
}

.icon {
    font-size: 2.1rem !important;
}

.small {
    font-size: 0.8rem;
}

.red {
    color: var(--secondary-color);
}

.group {
    min-width: 300px;
}

.drinks > h1, .food > h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.item {
    display: flex;
}

.item > .name {
    margin-right: auto;
}

.google-map {
    width: 340px;
    height: 340px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 0 var(--shadow);
    height: 30px;
}